* {
    font-family: "Raleway", sans-serif;
}

.theme-light {
    --color-primary: rgb(32, 32, 32);
    --color-secondary: rgb(97, 97, 97);
    --color-highlight: rgb(144, 37, 103);
    --color-background: rgb(255, 255, 255);
}

.theme-dark {
    --color-primary: rgba(255, 255, 255, 0.822);
    --color-secondary: rgb(192, 192, 192);
    --color-highlight: rgb(235, 146, 178);
    --color-background: rgb(17, 17, 17);
}
.nav {
    padding: 30px;
}

.nav i {
    color: var(--color-primary);
    position: fixed;
    right: 100px;
    top: 50px;
    cursor: pointer;
    z-index: 1;
}

.topBox {
    display: flex;
    width: 600px;
    padding-bottom: 50px;
}
/* I don't know how the reflection for albumImg 
 actually works, but it does :) */
#albumImg {
    justify-self: flex-start;
    position: relative;
    background-image: url(images/jacket.png);
    height: 220px;
    width: 220px;
    background-size: cover;
}

#albumImg::before {
    content: "";
    width: inherit;
    height: 15%;
    position: absolute;
    bottom: -15%;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.3),
        var(--color-background)
    );
    z-index: 1;
}

#albumImg::after {
    content: "";
    background-size: cover;
    background-image: inherit;
    width: inherit;
    height: 14%;
    position: absolute;
    bottom: -14%;
    background-position: bottom;
    transform: scaleY(-1);
}
body {
    background: var(--color-background);
    transition: background-color 400ms;
}

.pageStructure {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-primary);
}

.topTextContainer {
    display: flex;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 600;
    flex-direction: column;
}

#albumInfo {
    color: var(--color-secondary);
    font-weight: 400;
    margin: 0px;
}

.topTextContainer h1 {
    color: var(--color-highlight);
    font-size: 50px;
}

#artist {
    margin-bottom: auto;
}

.bottomBox {
    font-weight: 500;
}

.bottomBox hr {
    border: 1px solid var(--color-secondary);
}

#songHeader {
    display: flex;
    color: var(--color-secondary);
}

.songNum {
    width: 30px;
}

.songTitle {
    width: 550px;
}

.songTime {
    width: 40px;
}